<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="headerToolbar">
      <span class="addressSpan">
        <p>Rua João Albino Zaia, nº 45</p><ion-icon class="chevronDownIcon" name="chevron-down-outline"></ion-icon>
      </span>
      <ion-icon class="notificationIcon" name="notifications-outline"></ion-icon>
    </div>
  </ion-header>
  <main>
    <div class="firstSection">
      <div class="bigCardsSection">
        <div class="bigCard">
          <span>Restaurantes</span>
          <img src="https://static.ifood-static.com.br/image/upload/f_auto/webapp/landingV2/restaurant.png" alt="">
        </div>
        <div class="bigCard">
          <span>Mercado</span>
          <img src="https://static.ifood-static.com.br/image/upload/f_auto/webapp/landingV2/market.png" alt="">
        </div>
      </div>
      <div class="littleCardSection">
        <div class="littleCard">
          <img src="https://static.ifood-static.com.br/image/upload/f_auto/webapp/landingV2/pharmacy.png" alt="">
          <span>Farmácias</span>
        </div>
        <div class="littleCard">
          <img src="https://static.ifood-static.com.br/image/upload/f_auto/webapp/landingV2/drinks.png" alt="">
          <span>Bebidas</span>
        </div>
        <div class="littleCard">
          <img src="https://static.ifood-static.com.br/image/upload/f_auto/webapp/landingV2/petshop.png" alt="">
          <span>Pet Shop</span>
        </div>
        <div class="littleCard">
          <img
            src="https://static.ifood-static.com.br/image/upload/t_low/discoveries/iconeclubev91_yLvm.png?imwidth=256"
            alt="">
          <span>Clube Ifood</span>
        </div>
      </div>
    </div>
    <div class="secondSection">
      <img src="https://static.ifood-static.com.br/image/upload/t_medium/discoveries/2603GrowthSaldaoPascoaMercadoMultiCapaPrincipal01_WoNT.png?imwidth=1200" alt="">
    </div>
    <div class="thirdSection">
      <div>
        <h3>Clube Ifood</h3>
        <span>Experiências únicas para você</span>
      </div>
      <div class="clubCards">
        <img src="https://static.ifood-static.com.br/image/upload/t_low/discoveries/mercado_4RhE.png?imwidth=256" alt="">
        <img src="https://static.ifood-static.com.br/image/upload/t_low/discoveries/padarias_O8Ek.png?imwidth=256" alt="">
        <img src="https://static.ifood-static.com.br/image/upload/t_low/discoveries/bagcupones1_eqF1.png?imwidth=256" alt="">
        <img src="https://static.ifood-static.com.br/image/upload/t_low/discoveries/docesebolos_RfHb.png?imwidth=256" alt="">
        <img src="https://static.ifood-static.com.br/image/upload/t_…w/discoveries/brasileira1XfT_5HRd.png?imwidth=256" alt="">
      </div>
    </div>
    <div class="fourthSection">
      <div>
        <h3>Famosos no Ifood</h3>
        <span>ver mais</span>
      </div>
      <div class="famousImgContainer">
        <div class="famousImgContainerItem">
          <img src="https://static.ifood-static.com.br/image/upload/t_low/logosgde/202104271118_6f1e3838-73a0-431f-81db-cf9afae5891c.png?imwidth=256" alt="">
          <span>Mcdonald's - Ourinhos Drive (our)</span>
        </div>
        <div class="famousImgContainerItem">
          <img src="https://static.ifood-static.com.br/image/upload/t_low/logosgde/1fedb522-0461-4d5f-8667-eda745e43003/202307211229_8bAj_i.jpg?imwidth=256" alt="">
          <span>Mccafé da Manhã - Our - Ourinhos Drive (our)</span>
        </div>
        
      </div>
    </div>
  </main>
</ion-content>